PizzaMais.Pizza/.vs/
PizzaMais.Pizza/src/PizzaMais.Pizza.API/obj/PizzaMais.Pizza.API.csproj.nuget.g.props
PizzaMais.Pizza/src/PizzaMais.Pizza.API/obj/
PizzaMais.Pizza/src/PizzaMais.Pizza.Communs/obj/
PizzaMais.Pizza/src/PizzaMais.Pizza.Core/obj/
